body{
    padding: 3% 15%;
}

p{
    font-family: 'montserrat';
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover{
    color: #8c52ff;
}


.btn{
    background-color: #8c52ff;
    color: white;
}

.btn:hover{
    background-color: #E845FF ;
    color: white;
}

.fa-star{
    color: #E845FF;
}



/* navbar */
#navbarNav{
    position: fixed;
    left: 60%;
    background-color: white;
    border-radius: 8px;
}

.navbar{
    padding: 3% 15%;
}

.navbar-brand{
    background-color: white;
    border-radius: 8px;
    padding: 0 5px;
}

/* title */
.title-text{
    padding: 20% 0 0 1%;
}

.title-img{
    padding: 15% 0 0 8%;
}

.big-heading{
    padding: 0 0 10% 0;
    font-size: 3.5rem;
}

.purple-flower{
    width: 400px;
}




/* what flower do we sell */
#product-type{
    padding: 10% 1%;
}

.product-type-h2{
    padding: 50px 1%;
}

    /* image flower */
    .img-flwr1{
        width: 80%;
        border-radius: 8px;
    }

    .img-flwr2{
        width: 80%;
        border-radius: 8px;
    }

    .img-flwr3{
        width: 80%;
        border-radius: 8px;
    }

    /* type h2 */
    .h2-type{
        padding: 7px 0;
    }



/* Top Product */
#top-product{
    padding: 30px 1%;
}

.top-type-h2{
    padding: 50px 1%;
    color: white;
}

.square-top-product{
    margin: 20px 0 0 -50px;
    height: 300px;
    width: 600px;
    background-color: #8c52ff;
    border-radius: 70px;
    position: absolute;
    z-index: -1 ;
}

.product-col{
    position: relative;
    bottom: 0;
    transition: 0.5s;
}

.product-col:hover{
    bottom: 10px;
}

/* product */
#product{
    padding: 0 1%;
    margin: 4% 0 0 0;
}




/* about us */
.about-head{
    padding: 0 0 10% 0;
}

.about-h1{
    padding: 20% 0 0 1%;
}

.about-text{
    padding: 15% 0 0 0;
    text-align: justify
}






/* footer */
#footer{
    background-color: #8c52ff;
    color: white;
    text-align: center;
    margin: 30px 0 -3% 0;
    border-radius: 8px;
}

.copyright{
    text-align: center;
    padding: 20px;
}

.instagram-footer{
    padding: 5px;
}

.socialmed-btn{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    position: relative;
    bottom: 0px;
}

.socialmed-btn:hover{
    color: white;
    bottom: 5px;
}

/* Learn more */
.learn-more-h1{
    padding: 10% 0 0 1%;
}

.learn-more-1-big-heading{
    padding: 0 0 10% 0;
    font-size: 3.5rem;
}

.learn-more-1-img{
    width: 70%;
    border-radius: 8px;
}

.learn-more-text{
    padding: 10% 0 0 0;
    text-align: justify
}

/* product detail */
.order-btn{
    border-radius: 20px;
    background-color: #8C52FF;
    margin: 10px 0 0 0;
    text-align: left;
    transition: 0.3s;
}

.order-btn:hover{
    background-color: #E845FF;

}

/* nav bottom */
#nav-bottom{
    visibility: hidden;
}



@media (max-width: 770px) {

    body{
        padding: 3% 5%;
    }


    /* navbar */
    #navbarNav{
        position: static;
        background-color: white;
        margin: 2% 0 0 0;
        opacity: 0.9;
    }

    .navbar{
        padding: 5% 3%;
    }

    /* title */

    .title-text, .title-img{
        text-align: center;
    }

    .purple-flower{
        width: 300px;
    }

    /* what flower do we sell */
    #product-type{
        text-align: center;
    }

    .learn-btn{
        margin: 10px 0 40px 0;
    } 

    

    

    .learn-more-head{
        padding: 10% 0 0 0;
    }


    /* top product */
    #top-product{
        padding: 0 0 0 7%;
    }

    .square-top-product{
        margin: 20px 0 0 -200px;
        height: 200px;
        width: 500px;  
    }

    /* product */
    #product{
        padding: 10% 0 0 7%;
    }

    /* product detail */
    .product-detail-head{
        padding: 10% 0 0 0;
    }

   /* product learn */
   .learn-more-h1, .learn-more-1-big-heading{
    text-align: center;
    font-size: xx-large;
    }

    /* about us */
    .about-h1{
        padding: 30% 0 0 8%;
    }

    .about-text{
        padding: 0 2% 0 8%;
        text-align: justify;
    }

    
    
}

@media (max-width: 415px) {
    body{
        padding: 2%
    }

    /* footer */
    #footer{
        visibility: hidden;
    }


    /* product */
    .more-product{
        text-align: center;
    }
    
    .more-product-btn{
        margin: 20px 5% 0 0;
        padding: 1% 30%;
    }

 


    /* nav-bottom */
    #nav-bottom{
       text-align: center; 
       visibility: visible;
    }
    .nav-bottom-btn p{
        margin: 3px 0 3% 0;
        font-size: 12;
    }

    .nav-bott{
        background-color: white;
        border-style: solid;
        border-color: gray;
        border-width: 1px;
        border-radius: 50px 50px 0 0;
        padding: 3px 0 0 0;
    }

    .fa-nav-bottom{
        color: #8C52FF;
        position: relative;
        bottom: 0px;
        transition: 0.3s;
    }

    .fa-nav-bottom:hover{
        bottom: 5px;
    }

    .active-nav-bottom{
        color: #E845FF;
        bottom: 6px;
    }
}